{
  "presets": ["next/babel", "@emotion/babel-preset-css-prop"],
  "plugins": [
    ["babel-plugin-macros"],
    ["module-resolver", {
      "root": ["./src"],
      "alias": {
        "@": "./src",
        "@api": "./src/apis",
        "@ui": "./src/components/ui",
        "@layout": "./src/components/layout",
        "@template": "./src/components/templates",
        "@core": "./src/core",
        "@store": "./src/stores",
        "@util": "./src/utils",
        "@style": "./src/styles"
      }
    }],
    ["@babel/plugin-proposal-class-properties", { "loose": true }],
    [
      "emotion",
      {
        "autoLabel": true,
        "labelFormat": "[dirname]-[filename]--[local]"
      }
    ]
  ]
}
